body{
    background-color:#dddddd;  
    background-image: url("/static/img/background1.png");
    background-repeat: true;    
 /*   background-size: 100%;
    background-attachment: fixed;*/
}
.navbar-wrapper{
    margin-top:10px; 
    margin-bottom: 18px;
}

.notification-icon{
    color: red;
}


.notification{
    visibility: hidden;
}

.popup-wrapper{
    margin:30px;
}
@media only screen and (min-width:992px){
    .search-input{
        width:300px;
    }
}

.shadow{    
    box-shadow: 0px 0px 10px 2px #aaaaaa;
}

p.font-Georgia{
    font-family: Georgia, serif;
}

p.font-Calson{
    color: #333333;
    font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif; 
    font-weight: bold;
}

p.font-bold{
    font-weight: bold;
}
p.font-md{
    font-size: 140%;
}

p.font-lg{
    font-size: 200%;
}

p.font-black{
    color:#000000;
}

p.multiline{
    width:100%;
    word-wrap:break-word;
}

img.logo{
    height:41px;
    width:100px;
    margin-top:-10px;
}

img.photo-sm{
    height:20px;
    width:20px;
}

img.photo-md{
    height:40px;
    width:40px;
}

img.photo-lg{
    height: 100px;
    width: 100px;
}

img.movie-pic{    
    width:214px;
    height:317px;
}

img.person-pic-sm{     
    width:32px;
    height:44px;
}

img.person-pic-md{
    width: 96px;
    height: 132px;
}

img.movie-pic-md{    
    width:171px;
    height:253px;
}

img.movie-pic-sm{    
    width:86px;
    height:127px;
}

.btn-ticket{

    width:214px;
}
ul
{
    list-style-type: none;
}

.inline{
    display:inline-block;
}

.back-to-top{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.divider-line{
    margin-left: -13px;
    height: 1px;
    width: 100%;
    background-color:#cccccc;
}

.no-underline:hover{    
    text-decoration: none;
}

.back-to-top-link,.back-to-top-text{
    margin-left: auto;
    margin-right:auto;
    color: #999999!important;
}

.white-block{
    background-color: #ffffff;
    border-radius: 3px;
}

.input_warning{
    border:1px solid red;
}

/*generic above*/

/*home*/
.coverflow-wrapper{    
}
.invisible{    
    visibility: hidden;
}
.coverflow, .upcoming-wrapper{
    width:100%;
}
.upcoming-wrapper{
    padding-top:180px;
}
.cover{
    text-align: center;

}
.colorflow-shadow{
      box-shadow: 0px 30px 50px -10px #888888;
}

.coverflow-detail{
    display: none;
}

div.current div{    
    display:block!important;
}

.divider{
    width:100%;
    margin:20px auto;
    overflow:hidden;
    text-align:center;   
    line-height:1.2em;

}

.divider:before, .divider:after{
    content:"";
    vertical-align:top;
    display:inline-block;
    width:25%;
    height:0.65em;
    border-bottom:1px solid;
    margin:0 2% 0 -55%;
}
.divider:after{
    margin:0 -55% 0 2%;
}


li.upcoming-movie{
    
    padding-bottom: 20px;

}

.upcoming-movie-inner{

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.upcoming-movie-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: none;
}
/*recommend movie*/
.recommend-movie-wrapper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media only screen and (min-width:1200px){
    .recommend-movie-wrapper{
    width: 1070px;
    }
}
@media only screen and (min-width: 992px) and (max-width:1199px){
    .recommend-movie-wrapper{
    width: 856px;
    }
}

@media only screen and (max-width:991px){
    .recommend-movie-wrapper{
    width: 642px;
    }
}

.recommend-movie-cell{
    display: inline-block;
    margin-bottom: -6px;    
    margin-right: -2px;      
    margin-left: -2px;
}

.recommend-movie-back{
    position: relative;
}

img.movie-pic-reverse{
    position:absolute;
    width:214px;
    height:317px;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    -webkit-filter: opacity(.1);
    filter: opacity(.1);
}

.back-inner{

    /*position:absolute;*/
    position: relative;
    margin:20px;
    width:174px;
    height:277px;
}

.float-bottom{
    position: absolute; 
    bottom: 0px;
    margin-left: auto;    
    margin-right: auto;
    width:100%;

}

/*div flipping*/
.flip-container {
    position: absolute;
    display: none;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective:1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 

    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;

}



    /* for IE */
.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* END: for IE */


.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    top: 0;
    left: 0;
    
    width:214px;
    height:317px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
    
    width:214px;
    height:317px;


}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background-position: center center;
    z-index: 2;
    background:#cccccc;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(-180deg);
    
}

/*search*/
.search-outer{
    padding-top: 40px;
    padding-bottom: 10px;
}

.search-wrapper{
    width: 100%;
    height: 60px;
    padding-left: 60px;
    padding-right:60px;
}

.search-inner{
    margin-left: auto;
    margin-right:auto;
    width: 60%;
    float: left;
}
.search-result-wrapper{
    width: 100%;
    padding-left: 60px;
    padding-right:60px;
}

li.search-movie{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:5px;
    width: 100%;
}
.search-movie-inner{
    float:left;
}

ul.search-list{
    padding-left: -40px; 
}

li.search-person{
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.person-list{
    padding-bottom: 60px;
}

.search-person-name{
    padding-top: 40px;
}

.search-title{
    padding-left: 23px;
}
/*movie*/
.movie-page-wrapper{
    padding-left: 15px;
    padding-right: 15px;
}

.movie-info-wrapper{
    padding: 30px;
}

.ticket-btn{
    margin-top:5px;  
    width:214px;
}

.like-btn, .dislike-btn{
    width: 120px;
    margin-top: 10px
}

.movie-detail-wrapper{
    margin-top:18px;
}
.cast-and-review-wrapper{
    margin-left: -15px;
}
.movie-cast-wrapper,.movie-review-wrapper{
    padding:20px;
}

.cast-title,.review-title{
    padding-left:30px;
}

.cast-character{
    float:right;
}

li.cast-item:nth-child(odd){
    background: #eeeeee;
}

li.cast-item{
    padding-right: 50px;
    margin-right: 20px;
    padding-bottom:2px;
}

.cast-character{
    padding-left: 20px; 
    padding-top:10px;
}

.movie-review-wrapper{
    margin-top: 18px
}

.review-btn{
    margin-top: 5px;
    float:right;
    margin-right: 20px;
}

.review-time{
    float: right;
}

li.review-item{    
    padding: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    background-color: #e5e5e5;
}

.review-inner{
    padding-top:10px;
}

.review-stat{
    float: right;
}

.review-subject{
    margin-top: -10px;
}

.people-also-like-wrapper, .people-who-liked-this-wrapper{
    padding:20px;
    margin-right: -28px;
    margin-left:-15px;
}
.people-who-liked-this-wrapper{
    margin-top:18px;
}

ul.relevant-movie{

    margin-left: -30px; 
}
li.relevant-movie-item{
    margin-bottom: 7px;
}
.relevant-movie-cover-wrapper{
}
.relevant-movie-name-wrapper{
    padding-top: 10px;
    height: 100px;
    overflow: hidden;
}

.relevant-user-name{
    margin-left:20px;
}

.submit-review-btn{
    margin-top: -10px;
    float:right;
    width:100px;
}

/*person*/
.person-page-wrapper{
    padding-left: 15px;
    padding-right: 15px;
}

.person-info-wrapper,.bio-wrapper{
    padding: 30px;
}
.bio-wrapper{
    margin-top: 18px;
}

.person-brief{
  padding-top: 40px;
}

.person-bio{
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    background-color: #eeeeee;
}

.recent-work-wrapper{
    padding-left: 18px;
}

.recent-work-inner{
    padding: 10px;
}

/*write review*/
.correspond-movie-inner {
    padding: 20px;
    text-align: center;
    margin-right: -15px;
}
.correspond-movie-pic{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/*review*/
.review-comment-wrapper{
    padding: 20px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 18px
}
ul.comment-list{
    margin-left: -27px;
    margin-top: 10px;
}
.comment-username{
   margin-left: 10px;
}

.comment-text,.comment-time{
    margin-top: 10px;
}

li.comment-item{
    margin-bottom: 2px;
    margin-right: 3px;
}
li.comment-item:nth-child(odd){    
    background-color: #f2f2f2;
}
li.comment-item:nth-child(even){    
    background-color: #e8e8e8;
}

.help-btn{
    margin-top: 10px;
    width:100px;
}

/*profile*/
.user-brief{
    margin-top: 25px;
}
.following-wrapper{
    padding-left: 18px; 
}
.following-inner{
    padding:20px;
    margin-right: -15px;   
}
li.following-item{
    padding-bottom: 5px;
}

.liked-movie-wrapper,.posted-review-wrapper{
    margin-top: 18px;
}

.liked-movie-wrapper,.posted-review-wrapper{
    padding: 30px;
}

.edit-form{
    display: none;
}

.btn-follow{
    width:100px;
    margin-top:10px; 
}

.btn-change{
    width:100px;
    display: none;
}

.change-photo-wrapper{
    text-align: center;
}

.photo-preview{
    margin-left: auto;
    margin-right: auto;
}

.profile-movie-more{
    width:100%;
}


/*list*/
.list-wrapper{
    padding:20px;
    margin-right: -10px;
    margin-left: -15px;
}

.people-liked{
    text-align: center;
}

.people-liked-photo{
    margin-right: auto;
    margin-left: auto;
}

.liked-movie-title{
    height: 60px;
    overflow: hidden;
}

/*recommend user*/

.recommend-user-wrapper{    
    position: relative;
}

.recommend-user-item{    
    display:none;    
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 170px;
    margin-left: auto;    
    margin-right: auto;

    -ms-transition: 0.7s;
    -moz-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    transition: 0.7s;
}

/*profile more*/
.profile-more-wrapper{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.profile-more-info-wrapper{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.profile-more-list-wrapper{
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px; 
}