<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TaDa</title>
        
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">        
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    </head>   

    <body>
        <div class="container">
            {% block navi-bar %}
            <div class="navbar-wrapper shadow">
              <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/"><img src="/static/img/TaDa-metal.png" class="logo"/></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        {% block active-status %}
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recommendation <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/recommend-movie">Movies</a></li>
                            <li><a href="#">Users</a></li>
                          </ul>
                        </li>
                        {% endblock active-status %}
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                          <li>
                              <form class="navbar-form search hidden-xs" action = "/search" method="get">                            
                                  <div class="row">
                                    <div class="col-lg">
                                      <div class="input-group search-input">
                                        <input type="text" class="form-control" name="search_content" placeholder="Search TaDa...">
                                        <div class="hidden">{{search_form.search_type}}</div>
                                        <span class="input-group-btn">
                                          <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </form>
                          </li>
                          <li><a href="/search" class="hidden-md hidden-sm hidden-lg">Search</a></li>
                          {% if user.username %}
                        <li><a href="/profile" class="hidden-md hidden-sm hidden-xs"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-sm"> {{user}}</a></li>
                        
                        <li><a data-toggle="modal" href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                        <li><a data-toggle="modal" href=".login-popup">Log In</a></li>
                        {% endif%}
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>

      			<div class="modal fade bs-example-modal-sm login-popup popup popup2" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      			  <div class="modal-dialog modal-sm">
      				<div class="modal-content">
      					<div class = "popup-wrapper">
                      <p class = "font-Calson font-lg text-center">Log in to TaDa<p>
                      <form class="login-form" action = "{% url 'login' %}" method= "post">
                        <table>
                          {% for field in login_form.visible_fields %}
                            {{field}}
                            {{field.errors}}
                          {% endfor %}
                        </table><br>
                          <!-- <input type="text" class = "form-control" name ="username" placeholder = "Username">
                          <input type="password" class = "form-control" name ="password" placeholder = "Password"><br> -->
                          <input type="submit" class = "form-control btn btn-info" name ="submit" value="Log In">
                          <!-- <input type="hidden" name="next" value="{{ next }}" > -->
                       {% csrf_token %}   
                      </form>
                      Don't have an account? <a data-toggle="modal" href=".popup">Sign Up</a>
                  </div>
      				</div>
      			  </div>
      			</div>

            <div class="modal fade bs-example-modal-sm popup" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class = "popup-wrapper">
                        <p class = "font-Calson font-lg text-center">Create Your TaDa Account<p>
                        <form class="login-form" action = "register" method= "post">
                            <table>
                              {% for field in regis_form.visible_fields %}
                                {{field}}
                                {{field.errors}}
                             {% endfor %}
                            </table><br>
                            <!-- <input type="text" class = "form-control" name ="email" placeholder = "Email">
                            <input type="text" class = "form-control" name ="username" placeholder = "Username">
                            <input type="password" class = "form-control" name ="password1" placeholder = "Password">
                            <input type="password" class = "form-control" name ="password2" placeholder = "Confirm Password"><br> -->
                            <input type="submit" class = "form-control btn btn-info" name ="submit" value="Sign Up">
                            <input type="hidden" name="next" value="{{ next }}" >
                        {% csrf_token %}  
                        </form>
                        Already have an account? <a data-toggle="modal" href=".popup">Log In</a>
                    </div>
                </div>
              </div>
            </div>
            {% endblock navi-bar %}
            <div class="content-wrapper">
             {% block content %}
              

            {% endblock content %} 
            </div>      
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
        <script src="/static/js/bootstrap.js"></script>
        {% block additional_js %}
        {% endblock additional_js %}
    </body>
</html>