{% extends "generic.html" %}

{% block active-status %}
<li class="active"><a href="/">Home</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recommendation <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/recommend-movie">Movies</a></li>
    <li><a href="#">Users</a></li>
  </ul>
</li>
{% endblock active-status %}
                     
{% block content %}
<div class="coverflow-wrapper">                
  <p class = "font-Georgia font-lg font-bold text-center">In Theater</p>
  <div class="coverflow" >
    {% for m in movie_combos %}
    <div class="cover">
      <img class="movie-pic colorflow-shadow" src="{{m.cover}}"/>                  
      <div class="coverflow-detail" ><br>
        <a href="/movie/{{m.imdb_id}}"><p class="font-black font-Calson font-md">{{m.title}}</p></a>
        <a href=""><p class="font-black inline">Liked by 1,024 users</p></a>

        <span class="imdbRatingPlugin"data-title="tt{{m.imdb_id}}" data-style="p4">
          <a href="http://www.imdb.com/title/tt{{m.imdb_id}}/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png" alt="{{m.title}} on IMDb" />
          </a>
        </span><br>

        <button class = "form-control btn btn-info"  >Get Tickets</button>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<div class= "upcoming-wrapper">
  <p class = "font-Georgia font-lg font-bold text-center">Upcoming</p>
  <div class = "upcoming-group-wrapper">
    <div class = "upcoming-date-wrapper">
      <p class="divider font-Georgia font-md font-bold text-center">Nov 14, 2014</p>
    </div>
    <div class = "upcoming-movie-wrapper">
      <ul class = "upcoming-movie-list">
        {% for m in upcoming_movies_combo1 %}
        <li class = "upcoming-movie col-md-12">
          <div class ="upcoming-movie-inner">
            <div class ="col-md-2">
              <img class="movie-pic-sm" src="{{m.cover}}"/>
            </div>
            <div class ="col-md-10">                        
              <a href="/movie/{{m.imdb_id}}"><p class="font-black font-Calson font-md inline">{{m.title}}</p></a>&nbsp;
              <div id = "certificate" class="inline">{{m.certificate}} </div>
              <div id = "time" class="inline">{{m.duration}}</div>
              <div id ="genre"><b>Genre: </b>{% for genre in m.genre_list %}<a>{{genre}}</a> {% endfor %}</div>
              <div id = "plot"><b>Plot: </b>{{m.storyline}}</div>
              <div id ="director"><b>Director: </b>{% for director in m.director_list %}<a>director.name</a> {% endfor %}</div>
              <div id ="stars"><b>Stars: </b>{% for cast in m.cast_list %}<a>cast.name</a> {% endfor %}</div>
            </div>
          </div>
        </li>
        {% endfor %}     
      </ul>
    </div>
  </div>

  <div class = "upcoming-group-wrapper">
    <div class = "upcoming-date-wrapper" >
      <p class="divider font-Georgia font-md font-bold text-center">Nov 21, 2014</p>
    </div>
    <div class = "upcoming-movie-wrapper">
      <ul class = "upcoming-movie-list">
        {% for m in upcoming_movies_combo2 %}
        <li class = "upcoming-movie col-md-12">
          <div class ="upcoming-movie-inner">
            <div class ="col-md-2">
              <img class="movie-pic-sm" src="{{m.cover}}"/>
            </div>
            <div class ="col-md-10">                        
              <a href="/movie/{{m.imdb_id}}"><p class="font-black font-Calson font-md inline">{{m.title}}</p></a>&nbsp;
              <div id = "certificate" class="inline">{{m.certificate}} </div>
              <div id = "time" class="inline">{{m.duration}}</div>
              <div id ="genre"><b>Genre: </b>{% for genre in m.genre_list %}<a>{{genre}}</a> {% endfor %}</div>
              <div id = "plot"><b>Plot: </b>{{m.storyline}}</div>
              <div id ="director"><b>Director: </b>{% for director in m.director_list %}<a>director.name</a> {% endfor %}</div>
              <div id ="stars"><b>Stars: </b>{% for cast in m.cast_list %}<a>cast.name</a> {% endfor %}</div>
            </div>
          </div>
        </li>
        {% endfor %} 
      </ul>
    </div>
  </div>

   <div class = "upcoming-group-wrapper">
    <div class = "upcoming-date-wrapper" >
      <p class="divider font-Georgia font-md font-bold text-center">Nov 28, 2014</p>
    </div>
    <div class = "upcoming-movie-wrapper">
      <ul class = "upcoming-movie-list">
        
        {% for m in upcoming_movies_combo3 %}
        <li class = "upcoming-movie col-md-12">
          <div class ="upcoming-movie-inner">
            <div class ="col-md-2">
              <img class="movie-pic-sm" src="{{m.cover}}"/>
            </div>
            <div class ="col-md-10">                        
              <a href="/movie/{{m.imdb_id}}"><p class="font-black font-Calson font-md inline">{{m.title}}</p></a>&nbsp;
              <div id = "certificate" class="inline">{{m.certificate}} </div>
              <div id = "time" class="inline">{{m.duration}}</div>
              <div id ="genre"><b>Genre: </b>{% for genre in m.genre_list %}<a>{{genre}}</a> {% endfor %}</div>
              <div id = "plot"><b>Plot: </b>{{m.storyline}}</div>
              <div id ="director"><b>Director: </b>{% for director in m.director_list %}<a>director.name</a> {% endfor %}</div>
              <div id ="stars"><b>Stars: </b>{% for cast in m.cast_list %}<a>cast.name</a> {% endfor %}</div>
            </div>
          </div>
        </li>
        {% endfor %} 
      </ul>

    </div>
  </div>
</div>

{% endblock content %} 

{% block additional_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="/static/js/jquery.mousewheel.js"></script>

<script src="/static/js/jquery.touchSwipe.min.js"></script>

<script src="/static/js/jquery.coverflow.js"></script>
<script src="/static/js/home.js"></script>

<script id="imdb-rating-api" src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js"></script>
{% endblock additional_js %}