{% extends "generic.html" %}

{% block content %}
<div class = "person-page-wrapper row">
  <div class ="col-md-9">
    <div class = "list-wrapper white-block shadow">
        <p class = "review-title font-Georgia font-lg font-bold inline">Review</p>
        <button data-toggle="modal" {% if user.username %}href=".review-popup"{% else %} href=".login-popup" {% endif %} class = "review-btn btn btn-info">Write a Review</button>
        <ul class = "review-list">
          {% for review in reviews %}
          <li class = "review-item row" li-id = "{{review.id}}">
            <div class = "review-inner">
              <div class = "review-photo col-md-1">
                <a href="/profile/{{review.publisher.id}}" class="hidden-md hidden-sm hidden-xs"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md"></a>
              </div>
              <div class = "review-detail col-md-11">
                <a href="/profile/{{review.publisher.id}}"><p class = "font-black bold inline">{{review.publisher}}</p></a>
                <p class = "review-time inline">{{review.pub_time}}</p>
                <br>
                <a href="{% url 'review'  review.id %}" class = "no-underline"><p class = "review-subject font-md bold font-black inline"> {{review.title}}</p></a>

                {% if review.publisher == user %}
                <a href="{% url 'delete_review' review.id %}" review-id = "{{review.id}}" class = "delete-btn"><span class = "glyphicon glyphicon-remove"></span></a>
                {% endif %}
                <p> {{review.text}}</p>
                
                <div class ="review-stat">

                  <a href="{% url 'review'  review.id %}" class = "comment-link">Useful <span class="badge">{{review.like_list.all|length}}</span></a>&nbsp;&nbsp;
                  <a href="{% url 'review'  review.id %}" class = "comment-link">Useless <span class="badge">{{review.dislike_list.all|length}}</span></a>&nbsp;&nbsp;
                  <a href="{% url 'review'  review.id %}" class = "comment-link">Comment <span class="badge">{{review.comments_included.all|length}}</span></a>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

    
  </div>


  
  <div class = "correspond-movie col-md-3">
    <div class = "correspond-movie-inner  shadow white-block">
      <a href = "/movie/{{m.imdb_id}}" class = "no-underline"><p class = "font-black font-Georgia font-md font-bold text-center">{{m.title}}</p>
      <img class="movie-pic-md correspond-movie-pic" src="{{m.cover}}"/><br>
        <p class="font-black">Liked by {{like_num}} users</p></a>
        <span class="imdbRatingPlugin"data-title="tt{{m.imdb_id}}" data-style="p4">
          <a href="http://www.imdb.com/title/tt{{m.imdb_id}}/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png" alt="{{m.title}} on IMDb" />
          </a>
        </span>
      
    </div>
  </div>

</div>

<div class="modal fade bs-example-modal-lg review-popup popup2" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class = "popup-wrapper">
        <p class = "font-Calson font-lg text-center">Write Your Review<p>
            
         <form class="review-form" id = "review-form" action = "{% url 'write_review' m.imdb_id %}" method= "post">
          <table>
            {% for field in review_form.visible_fields %}
              <p class = "font-Calson font-md">{{field.label_tag}}</p>
              {{field}}
              {{field.errors}}<br>
            {% endfor %}
          </table><br>
            <input type="submit" class = "submit-review-btn btn btn-info" name ="submit" value="Post">
            {% csrf_token %} 
        </form>
        <a href="{% url 'new_review' m.imdb_id %}">Open in a new page.</a>
          
      </div>
  </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm delete-popup" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class = "popup-wrapper">
        <p class = "font-Calson font-lg text-center">Delete?</p>
        <div class ="delete-btn-group">
           <button class = "btn btn-info delete-confirm">Confirm</button>
           <button class = "btn btn-info delete-cancel">Cancel</button>
         </div>
      </div>
  </div>
  </div>
</div>

<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>
{% endblock content %} 
{% block additional_js %}
<script id="imdb-rating-api" src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/write_review.js"></script>
<script src="/static/js/delete_review.js"></script>
{% endblock additional_js %}