{% extends "generic.html" %}

{% block content %}
<div class = "movie-page-wrapper">
  <div class = "movie-info-wrapper shadow white-block row">
    <div class ="col-md-3 row">
      <img class="movie-pic" src="{{m.cover}}"/>
      <button class = "ticket-btn btn btn-info col-md-12"  >Get Tickets</button>
    </div>
    <div class ="col-md-6">                        
      <a href="/movie/{{m.imdb_id}}"><p class="font-black font-Calson font-lg inline">{{m.title}}</p></a>&nbsp;<br>
      <div id = "certificate" class="inline">{{m.certificate}} </div>
      <div id = "time" class="inline">{{m.duration}}</div>
      <div id ="genre"><b>Genre: </b>{% for g in m.genre_list %} <a>{{g}}</a> {% endfor %}</div>
      
      <div id ="director"><b>Director: </b>{% for d in m.director_list %}<a href="/person/{{d.person_id}}">{{d}}</a>, {% endfor %}</div>
      <div id ="director"><b>Writer: </b>{% for w in m.writer_list %}<a href="/person/{{w.person_id}}">{{w}}</a>, {% endfor %}</div>
      <div id ="director"><b>Producer: </b><a>David Ayer</a></div>
      <div id = "plot"><b>Plot: </b>{{m.storyline}}</div>
    </div>

    <div class = "col-md-3">
      <span class="imdbRatingPlugin"data-title="tt{{m.imdb_id}}" data-style="t1">
        <a href="http://www.imdb.com/title/tt{{m.imdb_id}}/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png" alt="Fury (2014) on IMDb" />
        </a>
      </span>
      <br>      
      <a role="button" class = "like-btn btn btn-info"  href="{% url 'like' m.imdb_id %}">Like <span class="badge pull-right">{{like_num}}</span></a>
      <a role="button" class = "like-btn btn btn-info"  href="{% url 'dislike' m.imdb_id %}">Dislike <span class="badge pull-right">{{dislike_num}}</span></a>
    </div>
  </div>
  
  <div class = "movie-detail-wrapper row">
    <div class = "cast-and-review-wrapper col-md-9">
      <div class = "movie-cast-wrapper white-block shadow">
        <p class = "cast-title font-Georgia font-lg font-bold">Cast</p>
        <ul class = "cast-list">

          {% for s, c in m.cast_character_list %}
          <li class = "cast-item row">
             <a href="/person/{{s.person_id}}"><img src="{{s.photo}}" alt="{{s.name}}" class="person-pic-sm"></a>
               &nbsp; <a href="/person/{{s.person_id}}"><p class = "font-black inline">{{s}}</p>
              </a>
                <p class = "cast-character inline">{{c}}</p>
          </li>      
          {% endfor %}

          <a href="/cast-list/{{m.imdb_id}}"><p class = "font-md font-Calson">more ...</p></a>
        </ul>
      </div>
      <div class = "movie-review-wrapper white-block shadow">
        <p class = "review-title font-Georgia font-lg font-bold inline">Review</p>
        <button data-toggle="modal" href=".review-popup" class = "review-btn btn btn-info">Write a Review</button>
        <ul class = "review-list">
          {% for review in reviews %}
          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-photo col-md-1">
                <a href="/profile" class="hidden-md hidden-sm hidden-xs"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md"></a>
              </div>
              <div class = "review-detail col-md-11">
                <a href="#"><p class = "font-black bold inline">{{review.publisher}}</p></a>
                <p class = "review-time inline">{{review.pub_time}}</p>
                <a href="{% url 'review'  review.id %}" class = "no-underline"><p class = "review-subject font-md bold font-black"> {{review.title}}</p></a>
                <p class = ""> {{review.text}}</p> 
                <div class ="review-stat">

                  <a href="{% url 'review'  review.id %}" class = "comment-link">Like <span class="badge">123</span></a>&nbsp;&nbsp;
                  <a href="{% url 'review'  review.id %}" class = "comment-link">Dislike <span class="badge">123</span></a>&nbsp;&nbsp;
                  <a href="{% url 'review'  review.id %}" class = "comment-link">Comment <span class="badge">{{review.comments_included.all|length}}</span></a>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}

          


          <a href="/review-list/{{m.imdb_id}}"><p class = "font-md font-Calson">more ...</p></a>
        </ul>
      </div>
    </div>
    <div class = "movie-relevent-wrapper col-md-3">
      <div class = "people-also-like-wrapper white-block  shadow">
        <p class = "font-Georgia font-md font-bold inline text-center">People also liked</p>
        <ul class = "relevant-movie">
          {% for m in m_also %}
          <li class = "relevant-movie-item">
            <a href="/movie/{{m.imdb_id}}" class = "no-underline">
            <img class="movie-pic-sm" src="{{m.cover}}"/>
            <p class="relevant-movie-name font-black font-Calson font-md inline">{{m.title}}</p></a>
          </li>
          {% endfor %}
        </ul>

        <a href="/people-also-liked-list/{{m.imdb_id}}"><p class = "font-md font-Calson">more ...</p></a>
      </div>
      <div class = "people-who-liked-this-wrapper white-block  shadow">
        <p class = "font-Georgia font-md font-bold inline text-center">People who liked this</p>
        <ul class = "relevant-movie">
          {% for u in u_like %}
          <li class = "relevant-movie-item">
            <a href="/profile/{{u.id}}"><img src="/static/img/profile_default.jpg" alt="{{u.username}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> {{u.username}}</p></a>
          </li>
          {% endfor %}
        </ul>
        <a href="/people-who-liked-list/{{m.imdb_id}}"><p class = "font-md font-Calson">more ...</p></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg review-popup popup2" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class = "popup-wrapper">
        {% if user.username %}
        <p class = "font-Calson font-lg text-center">Write Your Review<p>
            
         <form class="review-form" id = "review-form" action = "{% url 'write_review' m.imdb_id %}" method= "post">
          <table>
            {% for field in review_form.visible_fields %}
              <p class = "font-Calson font-md">{{field.label_tag}}</p>
              {{field}}
              {{field.errors}}<br>
            {% endfor %}
          </table><br>
            <!-- <p class = "font-Calson font-md">Subject:<p>
            <input type="textarea" class = "form-control" name ="subject">
             <p class = "font-Calson font-md">Content:<p>
            <textarea class = "form-control" name ="subject" rows = "5" form = "review-form"></textarea><br> -->
            <input type="submit" class = "submit-review-btn btn btn-info" name ="submit" value="Post">
            {% csrf_token %} 
        </form>
        <a href="{% url 'new_review' m.imdb_id %}">Open in a new page.</a>
        {% else %}  
        <p class = "font-Calson font-lg text-center">Please <a data-toggle="modal" href=".popup2">log in</a> before write your post.<p>
        {% endif %}  
      </div>
  </div>
  </div>
</div>

<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>
{% endblock content %} 

{% block additional_js %}
<script id="imdb-rating-api" src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js"></script>
<script src="/static/js/script.js"></script>
{% endblock additional_js %}