{% extends "generic.html" %}

{% block content %}
<div class = "movie-page-wrapper">
  <div class = "movie-info-wrapper shadow white-block row">
    <div class ="col-md-3 row">
      <img class="movie-pic" src="static/img/fury.jpg"/>
      <button class = "ticket-btn btn btn-info col-md-12"  >Get Tickets</button>
    </div>
    <div class ="col-md-6">                        
      <a href="/movie"><p class="font-black font-Calson font-lg inline">Fury</p></a>&nbsp;<br>
      <div id = "certificate" class="inline">PG </div>
      <div id = "time" class="inline">120 min</div>
      <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
      
      <div id ="director"><b>Director: </b><a>David Ayer</a></div>
      <div id ="director"><b>Writer: </b><a>David Ayer</a></div>
      <div id ="director"><b>Producer: </b><a>David Ayer</a></div>
      <div id = "plot"><b>Plot: </b>April, 1945. As the Allies make their final push in the European Theatre, a battle-hardened army sergeant named Wardaddy commands a Sherman tank and his five-man crew on a deadly mission behind enemy lines. Out-numbered, out-gunned, and with a rookie soldier thrust into their platoon, Wardaddy and his men face overwhelming odds in their heroic attempts to strike at the heart of Nazi Germany.</div>
    </div>

    <div class = "col-md-3">
      <span class="imdbRatingPlugin"data-title="tt1872194" data-style="t1">
        <a href="http://www.imdb.com/title/tt1872194/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png" alt="Fury (2014) on IMDb" />
        </a>
      </span>
      <br>      
      <p class="font-black inline font-md">Liked by 1,024 users</p>
      <button class = "like-btn btn btn-info"  >Like</button>
      <button class = "dislike-btn btn btn-info"  >Dislike</button>
    </div>
  </div>
  
  <div class = "movie-detail-wrapper row">
    <div class = "cast-and-review-wrapper col-md-9">
      <div class = "movie-cast-wrapper white-block shadow">
        <p class = "cast-title font-Georgia font-lg font-bold">Cast</p>
        <ul class = "cast-list">
          <li class = "cast-item row">
             <a href="/person"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="person-pic-sm">
               &nbsp; <p class = "font-black inline">John Doe</p>
              </a>
                <p class = "cast-character inline">A Character</p>
          </li>
          <li class = "cast-item row">
             <a href="/person"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="person-pic-sm">
               &nbsp; <p class = "font-black inline">John Doe</p>
              </a>
                <p class = "cast-character inline">A Character</p>
          </li>
          <li class = "cast-item row">
             <a href="/person"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="person-pic-sm">
               &nbsp; <p class = "font-black inline">John Doe</p>
              </a>
                <p class = "cast-character inline">A Character</p>
          </li>
          <li class = "cast-item row">
             <a href="/person"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="person-pic-sm">
               &nbsp; <p class = "font-black inline">John Doe</p>
              </a>
                <p class = "cast-character inline">A Character</p>
          </li>
          <li class = "cast-item row">
             <a href="/person"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="person-pic-sm">
               &nbsp; <p class = "font-black inline">John Doe</p>
              </a>
                <p class = "cast-character inline">A Character</p>
          </li>
          <li class = "cast-item row">
             <a href="/person"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="person-pic-sm">
               &nbsp; <p class = "font-black inline">John Doe</p>
              </a>
                <p class = "cast-character inline">A Character</p>
          </li>

          

          <a href="#"><p class = "font-md font-Calson">more ...</p></a>
        </ul>
      </div>
      <div class = "movie-review-wrapper white-block shadow">
        <p class = "review-title font-Georgia font-lg font-bold inline">Review</p>
        <button data-toggle="modal" href=".review-popup" class = "review-btn btn btn-info">Write a Review</button>
        <ul class = "review-list">
          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-photo col-md-1">
                <a href="/profile" class="hidden-md hidden-sm hidden-xs"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md"></a>
              </div>
              <div class = "review-detail col-md-11">
                <a href="#"><p class = "font-black bold inline"> username</p></a>
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="#" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="#" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>

          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-photo col-md-1">
                <a href="/profile" class="hidden-md hidden-sm hidden-xs"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md"></a>
              </div>
              <div class = "review-detail col-md-11">
                <a href="#"><p class = "font-black bold inline"> username</p></a>
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="#" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="#" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>

          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-photo col-md-1">
                <a href="/profile" class="hidden-md hidden-sm hidden-xs"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md"></a>
              </div>
              <div class = "review-detail col-md-11">
                <a href="#"><p class = "font-black bold inline"> username</p></a>
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="#" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="#" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>


          <a href="#"><p class = "font-md font-Calson">more ...</p></a>
        </ul>
      </div>
    </div>
    <div class = "movie-relevent-wrapper col-md-3">
      <div class = "people-also-like-wrapper white-block  shadow">
        <p class = "font-Georgia font-md font-bold inline text-center">People also liked</p>
        <ul class = "relevant-movie">
          <li class = "relevant-movie-item">
            <a href="/movie" class = "no-underline">
            <img class="movie-pic-sm" src="static/img/fury.jpg"/>
            <p class="relevant-movie-name font-black font-Calson font-md inline">Fury</p></a>
          </li>
          <li class = "relevant-movie-item">
            <a href="/movie" class = "no-underline">
            <img class="movie-pic-sm" src="static/img/fury.jpg"/>
            <p class="relevant-movie-name font-black font-Calson font-md inline">Fury</p></a>
          </li>
          <li class = "relevant-movie-item">
            <a href="/movie" class = "no-underline">
            <img class="movie-pic-sm" src="static/img/fury.jpg"/>
            <p class="relevant-movie-name font-black font-Calson font-md inline">Fury</p></a>
          </li>
          <li class = "relevant-movie-item">
            <a href="/movie" class = "no-underline">
            <img class="movie-pic-sm" src="static/img/fury.jpg"/>
            <p class="relevant-movie-name font-black font-Calson font-md inline">Fury</p>
          </a>
          </li>

          <li class = "relevant-movie-item">
            <a href="/movie" class = "no-underline">
            <img class="movie-pic-sm" src="static/img/fury.jpg"/>
            <p class="relevant-movie-name font-black font-Calson font-md inline">Fury</p>
          </a>
          </li>

        </ul>

        <a href="#"><p class = "font-md font-Calson">more ...</p></a>
      </div>
      <div class = "people-who-liked-this-wrapper white-block  shadow">
        <p class = "font-Georgia font-md font-bold inline text-center">People who liked this</p>
        <ul class = "relevant-movie">
          <li class = "relevant-movie-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "relevant-movie-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "relevant-movie-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "relevant-movie-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "relevant-movie-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
        </ul>
        <a href="#"><p class = "font-md font-Calson">more ...</p></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg review-popup popup2" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class = "popup-wrapper">
        {% if user.username %}
        <p class = "font-Calson font-lg text-center">Write Your Review<p>
            
        <form class="review-form" id = "review-form" action = "" method= "post">
            <p class = "font-Calson font-md">Subject:<p>
            <input type="textarea" class = "form-control" name ="subject">
             <p class = "font-Calson font-md">Content:<p>
            <textarea class = "form-control" name ="subject" rows = "5" form = "review-form"></textarea><br>
            <input type="submit" class = "submit-review-btn btn btn-info" name ="submit" value="Post">
        </form>
        <a href="#">Open in a new page.</a>
        {% else %}  
        <p class = "font-Calson font-lg text-center">Please <a data-toggle="modal" href=".popup2">log in</a> before write your post.<p>
        {% endif %}  
      </div>
  </div>
  </div>
</div>

<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>
{% endblock content %} 

{% block additional_js %}
<script id="imdb-rating-api" src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js"></script>
<script src="/static/js/script.js"></script>
{% endblock additional_js %}