{% extends "generic.html" %}

{% block content %}
<div class = "password-page-wrapper row shadow white-block">

  <p class = "font-Calson font-lg text-center">Reset your password<p>
  <div class = "password-form-wrapper">
    <form id ="reset-password-form"  method = "post">
      <table >
            {% for field in form.visible_fields %}
                {{field}}
                {{field.errors}}
            {% endfor %}
       </table><br>
      <input type="submit" class = "form-control btn btn-info" name ="submit" value="Reset Password" >
      {% csrf_token %}  
    </form>
  </div>
</div>

{% endblock content %} 
{% block additional_js %}
<script src="/static/js/password_authentication.js"></script>
{% endblock additional_js %}