{% extends "generic.html" %}

{% block content %}
<div class = "password-page-wrapper row shadow white-block">

  <p class = "font-Calson font-lg text-center">Change your password<p>
  <div class = "password-form-wrapper">
    <form id ="change-password-form" action = "password-change-complete" method = "post">
      <table >            
            {{change_password_form.old_password}}
            {{change_password_form.new_password1}}
            {{change_password_form.new_password2}}
       </table><br>
      <input type="submit" class = "form-control btn btn-info" name ="submit" value="Change Password" >
      {% csrf_token %}  
    </form>
  </div>
</div>

{% endblock content %} 

{% block additional_js %}
<script src="/static/js/password_authentication.js"></script>
{% endblock additional_js %}