{% extends "generic.html" %}

{% block content %}
<div class = "password-page-wrapper row shadow white-block">

  <p class = "font-Calson font-lg text-center">Change your password<p>
  <div class = "password-form-wrapper">
    <form id ="change-password-form" action = "/password-change-complete" method = "post">

      <input class="form-control" id="id_password0" name="password0" placeholder="Original Password" type="password">
      <input class="form-control" id="id_password1" name="password1" placeholder="New Password" type="password">
      <input class="form-control" id="id_password2" name="password2" placeholder="Confirm Password" type="password">
      <input type="submit" class = "form-control btn btn-info" name ="submit" value="Change Password" >
      {% csrf_token %}  
    </form>
  </div>
</div>

{% endblock content %} 

{% block additional_js %}
<script src="/static/js/password_authentication.js"></script>
{% endblock additional_js %}