{% extends "generic.html" %}

{% block content %}
<div class = "person-page-wrapper row">
  <div class ="col-md-9">
    <div class = "person-info-wrapper shadow white-block row">
      <div class ="col-md-4">
        <img class="movie-pic-md" src="{{p.photo}}"/>
      </div>
      <div class ="person-brief-wrapper col-md-8">   
        <div class = "person-brief">                     
          <p class="font-black font-Calson font-lg inline">{{p.name}}</p>&nbsp;<br>      
          <div id ="dob"><p class="font-md inline"><b>Year of Birth: </b>{{p.birthyear}}</p></div>
          <div id ="dop"><p class="font-md inline"><b>Place of Birth: </b>{{p.birthnotes}}</p></div>
        </div>
      </div>

    </div>

    <div class = "bio-wrapper row shadow white-block">
      <p class = "review-title font-Georgia font-lg font-bold inline">Bio</p>
      <div class = "person-bio">
        <p>{{p.bio}}</p>
      </div>
    </div>
  </div>


  
  <div class = "recent-work-wrapper col-md-3">
    <div class = "recent-work-inner  shadow white-block">
      <p class = "review-title font-Georgia font-lg font-bold inline">Recent Work</p>
      <ul class = "relevant-movie">
        {% for m in recent_works %}
        <li class = "relevant-movie-item row">
          <div class = "relevant-movie-cover-wrapper col-md-5">
            <a href="/movie/{{m.imdb_id}}" class = "no-underline">
            <img class="movie-pic-sm" src="{{m.cover}}"/></a>
          </div>
          <div class = "relevant-movie-name-wrapper inline col-md-7">
            <a href="/movie/{{m.imdb_id}}" class = "no-underline"><p class="font-black font-Calson font-md inline">{{m.title}}</p></a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>

{% endblock content %} 
{% block additional_js %}
<script src="/static/js/script.js"></script>
{% endblock additional_js %}