{% extends "generic.html" %}

{% block content %}
<div class = "profile-more-wrapper">
    <div class = "profile-more-info-wrapper shadow white-block row">
      <div class ="col-md-2">
        <a href = "/profile/{{view_user.id}}">  
          <img class="photo-lg user-profile-photo" src="{% url 'get-photo' view_user.id %}">
        </a>
        <!-- display only when view user's own profile -->
        {% if user == view_user %}
        <a class="btn btn-info btn-xs btn-change" data-toggle="modal" href=".change-photo-popup">Change Photo</a>
        {% endif %}
        <!--  -->
        <!-- display only when view other's profile -->
        {% if user != view_user %}
        <a rolw="button" class="btn btn-info btn-xs btn-follow" href="{% url 'follow' view_user.id %}">{{follow_text}}</a>
        {% endif %}
        <!--  -->
      </div>
      <div class ="user-wrapper col-md-8">   
        <div class = "user-brief">
          <a href = "/profile/{{view_user.id}}">                
          <p class="font-black font-Calson font-lg inline">{{view_user.username}}</p></a>&nbsp;
          <div class = "profile-intro" >
            <!-- display only when view user's own profile -->
            {% if user == view_user %}
            <button class="btn btn-default btn-xs btn-edit"><i class = "glyphicon glyphicon-pencil"></i></button>&nbsp;
            {% endif %}
            <!--  -->
            <p class="inline" >{{profile.intro}}</p>
          </div>
          <!-- display only when view user's own profile -->
          {% if user == view_user %}
          <div class = "edit-form profile-intro">
            <form action="{% url 'intro' user.id %}" method="post">
              <div class = "input-group">
                
                {% for field in intro_form.visible_fields %}
                  {{field}}
                  {{field.errors}}
                {% endfor %}
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-info btn-edit"><i class = "glyphicon glyphicon-floppy-disk"></i></button>
                  <button type="button" class="btn btn-info btn-edit"><i class = "glyphicon glyphicon-remove"></i></button>
                </span>
              
              </div>
              {% csrf_token %} 
            </form>
          </div>
          {% endif %}
        </div>                     
      </div>
    </div>
    <!-- display only when view user's own profile -->
    
    <div class="modal fade bs-example-modal-sm change-photo-popup" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
      {% if user == view_user %}     
        <div class = "popup-wrapper change-photo-wrapper">
              <p class = "font-Calson font-lg text-center">Upload Your Profile Photo<p>
              <img class = "photo-lg photo-preview" id="photo-preview" src="" alt="preview" />
              <form class="change-photo-form" action = "{% url 'profile_photo' user.id %}" method= "post" enctype="multipart/form-data">
                {% for field in photo_form.visible_fields %}
                  {{field}}
                  {{field.errors}}
                {% endfor %}
                <input type="submit" class = "form-control btn btn-info" name ="submit" value="Confirm">
               {% csrf_token %}   
              </form>
          </div> 
        {% endif %}       
        </div>       
      </div>
    </div>
    
    <!--  -->
    <div class = "profile-more-list-wrapper row shadow white-block">
      <p class = "font-Georgia font-lg font-bold">{% if user == view_user %}
       My
      {% else %}
      {{view_user.username}}'s
      {% endif %} Review</p>
        <ul class = "review-list">
          {% for review in reviews %}
          <li class = "review-item row" li-id = "{{review.id}}">
            <div class = "review-inner">
              <div class = "review-detail col-md-12">
                {% if review.publisher == user %}
                <a href="{% url 'delete_review' review.id %}" review-id = "{{review.id}}" class = "delete-btn"><span class = "glyphicon glyphicon-remove"></span></a>
                {% endif %}
                <p class = "review-time inline">{{review.pub_time}}</p>
                <a href="/review/{{review.id}}" class = "no-underline"><p class = "review-subject font-md bold font-black inline multiline">{{review.title}}</p></a>
                
                <p class = "multiline"> {{review.text}}</p> 
                
                <div class ="review-stat">

                  <a href="{% url 'review'  review.id %}" class = "comment-link">Useful <span class="badge">{{review.like_list.all|length}}</span></a>&nbsp;&nbsp;
                  <a href="{% url 'review'  review.id %}" class = "comment-link">Useless <span class="badge">{{review.dislike_list.all|length}}</span></a>&nbsp;&nbsp;
                  <a href="{% url 'review'  review.id %}" class = "comment-link">Comment <span class="badge">{{review.comments_included.all|length}}</span></a>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
    </div>

</div>

<div class="modal fade bs-example-modal-sm delete-popup" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class = "popup-wrapper">
        <p class = "font-Calson font-lg text-center">Delete?</p>
        <div class ="delete-btn-group">
           <button class = "btn btn-info delete-confirm">Confirm</button>
           <button class = "btn btn-info delete-cancel">Cancel</button>
         </div>
      </div>
  </div>
  </div>
</div>

<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>

{% endblock content %} 
{% block additional_js %}
<script src="/static/js/script.js"></script>
<script src="/static/js/profile.js"></script>
<script src="/static/js/delete_review.js"></script>
{% endblock additional_js %}