{% extends "generic.html" %}

{% block content %}
<div class = "person-page-wrapper row">
  <div class ="col-md-9">
    <div class = "person-info-wrapper shadow white-block row">
      <div class ="col-md-2">
        <img class="photo-lg user-profile-photo" src="/static/img/profile_default.jpg"/>
        <!-- display only when view user's own profile -->
        <a class="btn btn-info btn-xs btn-change" data-toggle="modal" href=".change-photo-popup">Change Photo</a>
        <!--  -->
        <!-- display only when view other's profile -->
        <button class="btn btn-info btn-xs btn-follow">follow</button>
        <!--  -->
      </div>
      <div class ="user-wrapper col-md-8">   
        <div class = "user-brief">                     
          <p class="font-black font-Calson font-lg inline">Username</p>&nbsp;
          <div class = "profile-intro" >
            <!-- display only when view user's own profile -->
            <button class="btn btn-default btn-xs btn-edit"><i class = "glyphicon glyphicon-pencil"></i></button>&nbsp;
            <!--  -->
            <p class="inline" >This is the introduction. This is the introduction. This is the introduction. </p>
          </div>
          <!-- display only when view user's own profile -->
          <div class = "edit-form profile-intro">
            <div class = "input-group">
              <input type="text" class="form-control " placeholder = "Please introduce yourself." value = "This is the introduction.">
              <span class="input-group-btn">
                <button class="btn btn-info btn-edit"><i class = "glyphicon glyphicon-floppy-disk"></i></button>
                <button class="btn btn-info btn-edit"><i class = "glyphicon glyphicon-remove"></i></button>
            </span>
            </div>
          </div>
          <!--  -->
        </div>                     
      </div>
    </div>
    <!-- display only when view user's own profile -->
    <div class="modal fade bs-example-modal-sm change-photo-popup" data-reveal role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class = "popup-wrapper change-photo-wrapper">
              <p class = "font-Calson font-lg text-center">Upload Your Profile Photo<p>
              <img class = "photo-lg photo-preview" id="photo-preview" src="" alt="preview" />
              <form class="change-photo-form" action = " " method= "post" enctype="multipart/form-data">
                <input type="file" class = "form-control btn btn-sm btn-info choose-photo">
                <input type="submit" class = "form-control btn btn-info" name ="submit" value="Confirm">
               {% csrf_token %}   
              </form>
          </div>
      </div>
      </div>
    </div>
    <!--  -->
    <div class = "liked-movie-wrapper row shadow white-block">
      <p class = "font-Georgia font-lg font-bold">Movie I Liked</p>
      <div class = "liked-movie inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <div class = "liked-movie  inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <div class = "liked-movie  inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <div class = "liked-movie  inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <a href="#"><p class = "font-md font-Calson">more ...</p></a>
    </div>

    <div class = "posted-review-wrapper row shadow white-block">
      <p class = "font-Georgia font-lg font-bold">My Review</p>
        <ul class = "review-list">
          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-detail col-md-12">
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="/review" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="/review" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>

          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-detail col-md-12">
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="/review" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="/review" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>

          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-detail col-md-12">
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="/review" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="/review" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>
        </ul>
        <a href="#"><p class = "font-md font-Calson">more ...</p></a>
    </div>
  </div>


  
  <div class = "following-wrapper col-md-3 ">
    <div class = "following-inner  shadow white-block">
      <p class = "font-Georgia font-lg font-bold text-center">Following</p>
      <ul class = "following-list">
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
        </ul>
    </div>
  </div>

</div>
<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>

{% endblock content %} 
{% block additional_js %}
<script src="/static/js/script.js"></script>
<script src="/static/js/profile.js"></script>
{% endblock additional_js %}