{% extends "generic.html" %}

{% block content %}
<div class = "person-page-wrapper row">
  <div class ="col-md-9">
    <div class = "person-info-wrapper shadow white-block row">
      <div class ="col-md-2">
        <img class="photo-lg" src="/static/img/profile_default.jpg"/>
      </div>
      <div class ="user-wrapper col-md-8">   
        <div class = "user-brief">                     
          <a href="/person"><p class="font-black font-Calson font-lg inline">Username</p></a>&nbsp;<br>
        </div>
      </div>

    </div>

    <div class = "liked-movie-wrapper row shadow white-block">
      <p class = "font-Georgia font-lg font-bold">Movie I Liked</p>
      <div class = "liked-movie inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <div class = "liked-movie  inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <div class = "liked-movie  inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <div class = "liked-movie  inline col-md-3">
        <a href="/movie"><img class="movie-pic-md" src="static/img/dracula.jpg"/>
        <p class="font-black font-Calson font-md text-center">Dracula</p></a>
      </div>
      <a href="#"><p class = "font-md font-Calson">more ...</p></a>
    </div>

    <div class = "posted-review-wrapper row shadow white-block">
      <p class = "font-Georgia font-lg font-bold">My Review</p>
        <ul class = "review-list">
          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-detail col-md-12">
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="/review" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="/review" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>

          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-detail col-md-12">
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="/review" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="/review" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>

          <li class = "review-item row">
            <div class = "review-inner">
              <div class = "review-detail col-md-12">
                <p class = "review-time inline"> 4:44 pm 11/08/2014</p>
                <a href="/review" class = "no-underline"><p class = "review-subject font-md bold font-black"> This is review subject</p></a>
                <p class = ""> This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content. This is review content... </p> 
                <a href="/review" class = "comment-link">Comment <span class="badge">42</span></a>
              </div>
            </div>
          </li>
        </ul>
        <a href="#"><p class = "font-md font-Calson">more ...</p></a>
    </div>
  </div>


  
  <div class = "following-wrapper col-md-3 ">
    <div class = "following-inner  shadow white-block">
      <p class = "font-Georgia font-lg font-bold text-center">Following</p>
      <ul class = "following-list">
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
          <li class = "following-item">
            <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md">
            <p class = "relevant-user-name font-black bold inline"> username</p></a>
          </li>
        </ul>
    </div>
  </div>

</div>
<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>

{% endblock content %} 
{% block additional_js %}
<script src="/static/js/script.js"></script>
{% endblock additional_js %}