{% extends "generic.html" %}


{% block active-status %}
<li><a href="/">Home</a></li>
<li class="dropdown active">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recommendation <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/recommend-movie">Movies</a></li>
    <li><a href="#">Users</a></li>
  </ul>
</li>
{% endblock active-status %}
                      
{% block content %}
  <div class="recommend-movie-wrapper">
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/dracula.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/dracula.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>

                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
                
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/equalizer.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/equalizer.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/fury.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/fury.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/gonegirl.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/gonegirl.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/johnwick.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/johnwick.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/nightcrawler.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/nightcrawler.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/mazerunner.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/mazerunner.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/interstellar.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/interstellar.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/judge.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/judge.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="static/img/bookoflife.jpg"/>                  
          
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="static/img/bookoflife.jpg"/>
            <div class="back-inner inline">
              <a href=""><p class="font-black font-Calson font-md inline">Fury</p></a>&nbsp;
                <div id = "certificate" class="inline">PG </div>
                <div id = "time" class="inline">120 min</div>
                <div id ="genre"><b>Genre: </b><a>Action</a> <a>Drama</a> <a>War</a></div>
                <div id = "plot"><b>Plot: </b>A short plot, a short plot, a short plot, a short plot.</div>
                <div id ="director"><b>Director: </b><a>David Ayer</a></div>
                <div id ="stars"><b>Stars: </b><a>Brad Pitt</a>,  <a>Shia LaBeouf</a>, <a>Logan Lerman</a></div>
                
                <div class = "float-bottom">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 
