{% extends "generic.html" %}


{% block active-status %}
<li><a href="/">Home</a></li>
<li class="dropdown active">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recommendation <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/recommend-movie">Movies</a></li>
    <li><a href="/recommend-user">Users</a></li>
  </ul>
</li>
{% endblock active-status %}
                      
{% block content %}
  <div class="recommend-movie-wrapper">
    {% for m in movie_combos %}
    <div class="recommend-movie-cell flip-container">
      <div class = "flipper">
        <div class="recommend-movie-front front">
          <img class="movie-pic" src="{{m.cover}}"/>
        </div>
        <div class="recommend-movie-back back">

            <img class="movie-pic-reverse" src="{{m.cover}}"/>
            <div class="back-inner inline">
              <a href="/movie/{{m.imdb_id}}"><p class="font-black font-Calson font-md inline">{{m.title}}</p></a><br>
                <div id = "certificate" class="inline">{{ m.certificate }} </div>
                <div id = "time" class="inline">{{m.duration}}</div>
                <div id ="genre"><b>Genre: </b>{% for genre in m.genre_list.all %}{{genre}} {% endfor %}</div>
                <div id ="director"><b>Director: </b>{% for d in m.director_list.all %}<a href="/person/{{d.person_id}}">{{d}}</a>, {% endfor %}</div>
                <div id ="stars"><b>Stars: </b>{% for cast in m.cast_list.all|slice:":4" %}<a href="/person/{{cast.person_id}}">{{cast.name}}</a>, {% endfor %}</div>

                <div class = "float-bottom">
                  <a href = "/movie/{{m.imdb_id}}">
                      <p class = "font-Georgia font-sm font-bold text-center">See Details >></p>
                    </a>
                </div>
                
            </div>
        </div>
      </div>
    </div>

    {% endfor %}
   
    
  </div>
</div>
{% endblock content %} 
{% block additional_js %}
<script src="/static/js/recommend_movie.js"></script>
{% endblock additional_js %}