{% extends "generic.html" %}

{% block content %}
<div class = "person-page-wrapper row">
  <div class ="col-md-9">
    <div class = "person-info-wrapper shadow white-block row">
         <div class = "review-inner">
            <div class = "review-photo col-md-2">
              <a href="/profile"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-lg"></a> 
              <a role="button" class = "help-btn btn btn-info btn-xs"  href=" ">Useful <span class="badge pull-right">123</span></a>
      <a role="button" class = "help-btn btn btn-info btn-xs"  href=" ">Useless <span class="badge pull-right">123</span></a>             
            </div>
            <div class = "review-detail col-md-10">
              <a href="#"><p class = "font-Calson bold inline font-md">{{review.publisher}}</p></a>
              <p class = "review-time inline">{{review.pub_time}}</p>
              <p class = "review-subject font-md bold font-black"> {{review.title}}</p>
              <p class = ""> {{review.text}}</p>      

            </div>
          </div>
    </div>

    <div class = "review-comment-wrapper white-block shadow">
        <p class = "font-Georgia font-lg font-bold inline">Comment</p>
          
              <form class="review-form" id = "review-form" action = "{% url 'write-comment' review.id %}" method= "post">
                <div class="input-group">
                  <table>
                    {% for field in comment_form.visible_fields %}
                      {{field}}
                      {{field.errors}}<br>
                    {% endfor %}
                  </table>
                  <span class="input-group-btn">
                  <input type="submit" class = "btn btn-info new_comment_btn" name ="submit" value="Comment">
                  </span>
                </div>
                {% csrf_token %} 
              </form>
            

      <ul class="comment-list">
        {% for comment in comments %}
        <li class="comment-item row">
          <div class = "comment">
              <div class="comment-photo col-md-3">
                  <a href="/profile" class = "no-underline"><img src="/static/img/profile_default.jpg" alt="{{user}}" class="photo-md"><p class = "font-black inline comment-username">{{comment.publisher}}</p></a>
                </div>
                <div class="comment-text col-md-6">
                   <p class = "font-black inline">{{comment.text}}</p>
                </div>
                <div class="comment-time  col-md-3">
                  <p class = "font-black inline">{{comment.pub_time}}</p>                  
                </div>
            </div>
        </li>
        {% endfor %}
     </ul>
    </div>
  </div>


  
  <div class = "correspond-movie col-md-3">
    <div class = "correspond-movie-inner  shadow white-block">
      <a href = "/movie/{{m.imdb_id}}" class = "no-underline"><p class = "font-black font-Georgia font-md font-bold text-center">{{m.title}}</p>
      <img class="movie-pic-md correspond-movie-pic" src="{{m.cover}}}"/><br>
        <p class="font-black">Liked by {{like_num}} users</p></a>
        <span class="imdbRatingPlugin"data-title="tt{{m.imdb_id}}" data-style="p4">
          <a href="http://www.imdb.com/title/tt{{m.imdb_id}}/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png" alt="{{m.title}} on IMDb" />
          </a>
        </span>
      
    </div>
  </div>

</div>
<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>
{% endblock content %} 
{% block additional_js %}
<script id="imdb-rating-api" src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js"></script>
<script src="/static/js/script.js"></script>
{% endblock additional_js %}