{% extends "generic.html" %}

{% block content %}
<div class = "person-page-wrapper row">
  <div class ="col-md-9">
    <div class = "person-info-wrapper shadow white-block row">
         <div class = "review-inner">
            <div class = "review-photo col-md-2">
              <a href="/profile/{{review.publisher.id}}"><img src="{% url 'get-photo' review.publisher.id %}" alt="{{review.publisher}}" class="photo-lg"></a> 
              <a role="button" id="like-btn" class = "help-btn btn {% if review_like_status %} btn-info {% else %} btn-default {% endif %} btn-xs"  href="{% url 'review-like' review.id %}" {% if review_like_status %} status = "{{ review_like_status }}" {% endif %}><span id="like-text-span">Useful</span> <span id="like-badge-span" class="badge pull-right">{{review_like_num}}</span></a>
              <a role="button" id="dislike-btn" class = "help-btn btn {% if review_dislike_status %} btn-info {% else %} btn-default {% endif %} btn-xs"  href="{% url 'review-dislike' review.id %}" {% if review_dislike_status %} status = "{{ review_dislike_status }}" {% endif %}><span id="dislike-text-span">Useless</span> <span id="dislike-badge-span" class="badge pull-right">{{review_dislike_num}}</span></a>             
            </div>
            <div class = "review-detail col-md-10">
              <a href="/profile/{{review.publisher.id}}"><p class = "font-Calson bold inline font-md">{{review.publisher}}</p></a>
              <p class = "review-time inline">{{review.pub_time}}</p>
              <p class = "review-subject font-md bold font-black"> {{review.title}}</p>
              <p class = ""> {{review.text}}</p>      
              {% if review.publisher == user %}
                <a role ="button"href="{% url 'delete_review_page' review.id %}" class = "help-btn btn btn-info btn-xs">delete</a>
              {% endif %} 
            </div>
          </div>
    </div>

    <div class = "review-comment-wrapper white-block shadow">
        <p class = "font-Georgia font-lg font-bold inline">Comment</p>
          
              <form class="review-form" id = "review-form" action = "{% url 'write-comment' review.id %}" method= "post">
                <div class="input-group">
                  <table>
                    {% for field in comment_form.visible_fields %}
                      {{field}}
                      {{field.errors}}<br>
                    {% endfor %}
                  </table>
                  <span class="input-group-btn">
                  <input type="submit" class = "btn btn-info new_comment_btn" name ="submit" value="Comment">
                  </span>
                </div>
                {% csrf_token %} 
              </form>
            

      <ul id="comment-list" class="comment-list">
        {% for comment in comments %}
        <li class="comment-item row" li-id = "{{comment.id}}">
          <div class = "comment">
              <div class="comment-photo col-md-2">
                  <a href="{% url 'profile' comment.publisher.id %}" class = "no-underline"><img src="{% url 'get-photo' comment.publisher.id %}" alt="{{user}}" class="photo-md"><p class = "font-black inline comment-username ">{{comment.publisher}}</p></a>
                </div>
                <div class="comment-text col-md-7">
                   <p class = "font-black inline multiline">{{comment.text}}</p>
                </div>
                <div class="comment-time  col-md-3">
                  <p class = "font-black inline">{{comment.pub_time}}</p>                  
                </div>
                {% if comment.publisher == user %}
                <button href="{% url 'delete_comment' comment.id %}" class = "comment-link" title = "deleteComment" comment-id = "{{comment.id}}">delete</button>
                {% endif %}
            </div>
        </li>
        {% endfor %}
     </ul>
    </div>
  </div>


  
  <div class = "correspond-movie col-md-3">
    <div class = "correspond-movie-inner  shadow white-block">
      <a href = "/movie/{{m.imdb_id}}" class = "no-underline"><p class = "font-black font-Georgia font-md font-bold text-center">{{m.title}}</p>
      <img class="movie-pic-md correspond-movie-pic" src="{{m.cover}}"/><br>
        <p class="font-black">Liked by {{like_num}} users</p></a>
        <span class="imdbRatingPlugin"data-title="tt{{m.imdb_id}}" data-style="p4">
          <a href="http://www.imdb.com/title/tt{{m.imdb_id}}/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png" alt="{{m.title}} on IMDb" />
          </a>
        </span>
      
    </div>
  </div>

</div>
<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>
{% endblock content %} 
{% block additional_js %}
<script id="imdb-rating-api" src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/write_comment.js"></script>
<script src="/static/js/delete_comment.js"></script>
<script src="/static/js/like_dislike_review.js"></script>
{% endblock additional_js %}