{% extends "generic.html" %}

{% block content %}
<div class = "search-outer shadow white-block">
  <div class = "search-wrapper">
    <div class = "search-inner">
      <form class="search" action = "/search" method="get">
        <div class="input-group">
          {{search_form.search_content}}
          <span class="input-group-addon">
            {{search_form.search_type}}
          </span>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class = "search-result-wrapper">
    {% if user_combos or person_combos or movie_combos %}
      <p class = "font-Georgia font-lg font-bold">Search results for "{{request.GET.search_content}}"</p>
      {% if user_combos %}
      <p class = "search-title font-Georgia font-md font-bold">Users</p>
      <ul class = "person-list">

        {% for u in user_combos %}
        <div class = "divider-line"></div>
        <li class = "search-person row">
          <div class ="search-person-photo col-md-2">
            <a href="/profile/{{u.id}}">
              <img class="photo-lg" src="{% url 'get-photo' u.id %}"/>
            </a>
          </div>
          <div class ="search-person-name col-md-6">                        
            <a href="/profile/{{u.id}}">
              <p class="font-black font-Calson font-md inline">{{u.username}}</p>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if person_combos %}
      <p class = "search-title font-Georgia font-md font-bold">Names</p>
      <ul class = "person-list">

        {% for p in person_combos %}
        <div class = "divider-line"></div>
        <li class = "search-person row">
          <div class ="search-person-photo col-md-2">
            <img class="person-pic-md" src="{{p.photo}}"/>
          </div>
          <div class ="search-person-name col-md-6">                        
            <a href="/person/{{p.person_id}}">
              <p class="font-black font-Calson font-md inline">{{p.name}}</p>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if movie_combos %}
      <p class = "search-title font-Georgia font-md font-bold">Movies</p>
      <ul class = "search-list">
        {% for m in movie_combos %}
        <div class = "divider-line"></div>
        <li class = "search-movie row">
          <div class ="search-movie-inner">
            <div class ="search-cover col-md-2">
              <img class="movie-pic-md" src="{{m.cover}}"/>
            </div>

            <div class ="col-md-1"></div>
            <div class ="search-detail col-md-6">                        
              <a href="/movie/{{m.imdb_id}}">
                <p class="font-black font-Calson font-md inline">{{m.title}}</p>
              </a>&nbsp;
              <div id = "certificate" class="inline">
                {{m.certificate}}
              </div>
              <div id = "time" class="inline">
                {{m.duration}}
              </div>
              <div id ="genre">
                <b>Genre: </b>
                {% for g in m.genre_list %}
                  <a>{{g}}</a>
                {% endfor %}
              </div>
              <div id = "plot">
                <b>Plot: </b>
                {{m.storyline}}
              </div>
              <div id ="director">
                <b>Director: </b>
                {% for d in m.director_list %}
                  <a href="/person/{{d.person_id}}">{{d}}</a>, 
                {% endfor %}
              </div>
              <div id ="stars">
                <b>Stars: </b>
                {% for s in m.cast_list %}
                <a href="/person/{{s.person_id}}">{{s}}</a>
                , {% endfor %}</div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% else %}
      <p class = "font-Georgia font-lg font-bold">No results for "{{request.GET.search_content}}"</p>
      {% endif %}
  </div>
</div>
</div>
<div class = "back-to-top">
  <a href = "#" class = "no-underline back-to-top-link glyphicon glyphicon-chevron-up">
    <p class="back-to-top-text text-center font-Calson font-md">Back to Top</p>
  </a>
</div>

{% endblock content %} 
{% block additional_js %}
<script src="/static/js/script.js"></script>
{% endblock additional_js %}
