{% extends "generic.html" %}

{% block content %}
  <div class = "search-wrapper">
    <div class = "search-inner">
      <form class="search" action = "/search" method="get">
        <div class="input-group">
          <input type="text" class="form-control" name="keyword" placeholder="Search TaDa...">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info" data-toggle="dropdown"><!-- dropdown-toggle -->
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Movie</a></li>
              <li><a href="#">Celebrity</a></li>
              <li><a href="#">User</a></li>
            </ul>
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class = "search-result-wrapper">
    <p class = "font-Georgia font-lg font-bold">Search results for ""</p>
    <ul class = "search-list">
      {% for m in movie_combos %}
      <li class = "search-movie col-md-12" id="">
        <div class ="search-movie-inner">
          <div class ="search-cover col-md-3">
            <img class="movie-pic-md" src="{{m.cover}}"/>
          </div>
          <div class ="search-detail col-md-7">                        
            <a href=""><p class="font-black font-Calson font-md inline">{{m.title}}</p></a>&nbsp;
            <div id = "certificate" class="inline">{{m.certificate}} </div>
            <div id = "time" class="inline">{{m.duration}}</div>
            <div id ="genre"><b>Genre: </b>{% for g in m.genre_list %}<a>{{g}}</a> {% endfor %}</div>
            <div id = "plot"><b>Plot: </b>{{m.storyline}}</div>
            <div id ="director"><b>Director: </b>{% for d in m.director_list %}<a>{{d}}</a>, {% endfor %}</div>
            <div id ="stars"><b>Stars: </b>{% for s in m.cast_list %}<a>{{s}}</a>, {% endfor %}</div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %} 
