{% extends "generic.html" %}

{% block content %}
<div class = "person-page-wrapper row">
  <div class ="col-md-9">
    <div class = "person-info-wrapper shadow white-block row">
      <p class = "font-Calson font-lg text-center">Write Your Review<p>
            
        <form class="review-form" id = "review-form" action = "" method= "post">
            <p class = "font-Calson font-md">Subject:<p>
            <input type="textarea" class = "form-control" name ="subject">
             <p class = "font-Calson font-md">Content:<p>
            <textarea class = "form-control" name ="subject" rows = "5" form = "review-form"></textarea><br>
            <input type="submit" class = "submit-review-btn btn btn-info" name ="submit" value="Post">
        </form>

    </div>

    
  </div>


  
  <div class = "correspond-movie col-md-3">
    <div class = "correspond-movie-inner  shadow white-block">
      <a href = "/movie" class = "no-underline"><p class = "font-black font-Georgia font-md font-bold text-center">Fury</p>
      <img class="movie-pic-sm correspond-movie-pic" src="static/img/fury.jpg"/><br>
        <p class="font-black">Liked by 1,024 users</p></a>
        <span class="imdbRatingPlugin"data-title="tt2713180" data-style="p4">
          <a href="http://www.imdb.com/title/tt2713180/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png" alt="Fury (2014) on IMDb" />
          </a>
        </span>
      
    </div>
  </div>

</div>

{% endblock content %} 
{% block additional_js %}
<script id="imdb-rating-api" src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js"></script>
{% endblock additional_js %}