<li class="comment-item row">
  <div class = "comment">
      <div class="comment-photo col-md-2">
            <a href="{% url 'profile' comment.publisher.id %}" class = "no-underline"><img src="{% url 'get-photo' comment.publisher.id %}" alt="{{user}}" class="photo-md"><p class = "font-black inline comment-username ">{{comment.publisher}}</p></a>
          </div>
          <div class="comment-text col-md-7">
             <p class = "font-black inline multiline">{{comment.text}}</p>
          </div>
          <div class="comment-time  col-md-3">
            {% if comment.publisher == user %}
              <a href="{% url 'delete_comment' comment.id %}" class = "comment-link" title = "deleteComment" comment-id = "{{comment.id}}"><span class = "glyphicon glyphicon-remove"></span></a>
            {% endif %}
            <p class = "font-black inline">{{comment.pub_time}}</p>                  
          </div>
      </div>
    </div>
</li>
